<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bg-gradient-to-r from-red-500 to-purple-500">
    {% include "navbar.html" %}
    <div style="background:whitesmoke">
        <h2 class="text-4xl font-bold text-center p-5 mb-5 text-gray-700">
            Contacto
        </h2>
        <h3 class="text-2xl mb-20 p-2.5 text-center text-gray-700">
            En caso de cualquierda duda o consulta, rellena el siguiente formulario
            y soporte se comunicará contigo lo antes posible.
        </h3>
        <div class="text-4xl font-bold text-center p-5 mb-5 text-gray-700">
            {% if messages %}
                {% for msg in messages %}
                <b> {{msg}} </b>
                {% endfor %}
                {% endif %}
        </div>
        <form action="/contactar/" class="w-full pl-40 max-w-lg text-center" method="post">
            {% csrf_token %}
            <div class="text-center"> 
                <label for="">Correo</label> 
                <input type="email" name="correo" id="correo" class="block p-2.5 w-full text-sm m-4 text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-whitedark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Correo"  >
            </div>
            <div class="text-center"> 
                <label for="">Asunto</label>
                <input type="text" id="asunto" name="asunto" class="block p-2.5 w-full text-sm m-4 text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-whitedark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Asunto" /> 
            </div>
            <div class="text-center">
                <label for="">Comentarios</label>
            <div>
            <textarea id="message" rows="4"  placeholder="Comentarios" name="textarea" itemid="textarea" class="block p-2.5 w-full text-sm m-4 text-gray-900  rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-whitedark:focus:ring-blue-500 dark:focus:border-blue-500" ></textarea>
            </div> 
                            
            <div class="text-center"> 
                <button class="text-center bg-red-500 hover:bg-red-800 mb-4 text-white font-bold py-2 px-4 border-b-4 border-red-500 hover:border-red-800 rounded" type="submit"> Enviar </button>
            </div> 
        </form>
        
        
    </div>
    {% include "footer.html" %}
</body>
</html>