{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Bienvenida</title>
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r text-center from-red-500 to-purple-500">
  <header>
    
    <nav class="bg-gradient-to-r from-red-500 to-purple-500 ">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
  
          <div class="flex space-x-4">
            <!-- logo -->
            <div>
              <a href="" class="flex items-center py-5 px-4 text-gray-700 hover:text-gray-900">
                <img src="static/img/sol.png" alt="">
                <span class="font-bold text-white">Propalar</span>
              </a>
  
            </div>
            <div class="hidden md:flex items-center text-right space-x-1">
              <a href="/login/" class="py-5 px-3 text-white">Unirse</a>
              <a href="/registro/"
                class="py-2 px-3 bg-yellow-500 hover:bg-yellow-300 text-indigo-600 hover:text-yellow-800 rounded transition duration-300">Registrarse</a>
            </div>
    </nav>
  </header>
  

  <div class="py-20" style="background: rgb(223, 126, 126)"
  >
    <div class="container mx-auto px-6">
      <h2 class="text-4xl font-bold mb-2 text-gray-700">
        Bienvenido a Propalar!
      </h2>
      <h3 class="text-2xl mb-8 text-gray-700">
        La plataforma donde tus proyectos [REDACTED]
      </h3>

      <button class="bg-white font-bold rounded-full py-4 px-8 mr-20 mt-20 shadow-lg uppercase tracking-wider">
        <a href="/crear_proyecto">Crea tu proyecto</a>
      </button>
      <button class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
        <a href="/general">Explora otros proyectos</a>
      </button>
    </div>
  </div>
  <div style="background: whitesmoke">
    <section class="container mx-auto px-6 p-10">
      <h2 class="text-4xl font-bold text-center text-gray-700 mb-20">
        Ventajas
      </h2>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-700 font-bold mb-3">Publica tus proyectos</h4>
          <p class="text-gray-700 mb-8">Al publicar tus proyectos estos estarán a la vista del público, quienes podrán apoyarte de distintas maneras.</p>
        </div>
        <div class="w-full md:w-1/2">
          <img src="static/img/publicar.png" style="width: 200px;" alt="publicar" />
        </div>
      </div>

      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <img src="static/img/patrocinio.png" style="width: 200px" alt="apoyo" />
        </div>
        <div class="w-full md:w-1/2 pl-10">
          <h4 class="text-3xl text-gray-700 font-bold mb-3">Apoyo</h4>
          <p class="text-gray-700 mb-8">Colabora con otros usuarios de la plataforma.</p>
        </div>
      </div>

      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-gray-700 font-bold mb-3">Patrocinadores</h4>
          <p class="text-gray-700 mb-8">Incentiva a otros a patrocinar tu proyecto con distintas regalías</p>
        </div>
        <div class="w-full md:w-1/2">
          <img src="static/img/apoyo.png" style="width: 200px" alt="patrocinio" />
        </div>
      </div>
    </section>
  </div>
    
  



  {% include "footer.html" %}

</body>

</html>