{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Bienvenida</title>
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
  <!-- Google fonts - Playfair Display-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <!-- Google fonts - Poppins-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-gradient-to-r text-center from-red-500 to-purple-500">

  {% include "navbar.html" %}
  <section style="background-color: white;">
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{proyecto_obj.imagen}}"
                    alt=""></div>
        </div>
            
        </div>
        <div class="row">
          <div div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >CATEGORIA:  {{proyecto_obj.categoria}}
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >{{proyecto_obj.titulo}}</p>
          </div>
          
        </div>
        <div class="col-xl-12 col-lg-12 mx-auto">
          <p class="font-mono text-2xl" > {{proyecto_obj.contenido |safe}} </p>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 mx-auto">
            <p class="font-mono text-2xl" >Meta:  {{proyecto_obj.monto_meta}} </p>
          </div>
          <div div class="col-xl-6 col-lg-6 mx-auto">
            <p class="font-mono text-2xl" >Llevamos:  {{proyecto_obj.monto_total}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >Beneficios </p>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >Categoria:  {{proyecto_beneficio.categoria_beneficio}} </p>
          </div>
          <div div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >  {{proyecto_beneficio.nombre_beneficio}}</p>
          </div>
          <div div class="col-xl-6 col-lg-6 mx-auto">
            <p class="font-mono text-lg" >  {{proyecto_beneficio.descripcion_beneficio}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >Empresa Desarrolladora </p>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 mx-auto">
            <p class="font-mono text-lg" >Empresa : {{proyecto_equipo.empresa}} </p>
          </div>
          <div div class="col-xl-6 col-lg-6 mx-auto">
            <p class="font-mono text-lg" >Descripcion:  {{proyecto_equipo.descripcion_empresa}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >Equipo de colaboradores </p>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 mx-auto">
            <p class="font-mono text-lg" >Jefe : {{proyecto_equipo.nombre_jefeProjecto}} </p>
          </div>
          <div div class="col-xl-4 col-lg-4 mx-auto">
            <p class="font-mono text-lg" >Segundo al mando:  {{proyecto_equipo.nombre_subjefe}}</p>
          </div>
          <div div class="col-xl-4 col-lg-4 mx-auto">
            <p class="font-mono text-lg" >Tercero al mando:  {{proyecto_equipo.nnombre_subSubjefe}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 mx-auto">
            <p class="font-mono text-2xl" >Redes Sociales </p>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >Facebook : {{proyecto_materiales.facebook}} </p>
          </div>
          <div div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >Instagram :  {{proyecto_materiales.instagram}}</p>
          </div>
          <div div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >Pagina web:  {{proyecto_materiales.paginaWeb}}</p>
          </div>
          <div div class="col-xl-3 col-lg-3 mx-auto">
            <p class="font-mono text-lg" >Pagina web:  {{proyecto_materiales.twitter}}</p>
          </div>
        </div>

    </div>
    <div class="row">
     
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        <a href="{% url 'donar' proyecto_obj.id %}">Donar </a></button>
     

    </div>
    
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
        <a href="{% url 'donar' proyecto_obj.id %}">Enviar Mensaje </a></button>> </button>
</section>


     
<footer>{% include "footer.html" %}</footer>

</body>

</html>