{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Bienvenida</title>
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
  <!-- Google fonts - Playfair Display-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <!-- Google fonts - Poppins-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-gradient-to-r text-center from-red-500 to-purple-500">

  {% include "navbar.html" %}
  <section style="background-color: white;">
    <div class="container">
       
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/media/{{proyecto_obj.imagen}}"
                    alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{proyecto_obj.contenido|safe}}
                </div>
                <div>{{proyecto_obj.monto_meta}}</div>
                <div>{{proyecto_beneficio.categoria_beneficio}}</div>
                <div>{{proyecto_equipo.empresa}}</div>
                <div>{{proyecto_materiales.facebook}}</div>
                <div>{{user_obj.username}}</div>
                <div>{{datos_banco.tarjeta}}</div>
                <div>{{datos_user.genero}}</div>
            </div>
            <button type="submit" > <a href="/donar/">Donar </a></button>
        </div>
    </div>
</section>
  {% include "footer.html" %}

</body>

</html>