<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
  <script type="text/javascript">
    function sumar(){
      var num1 = document.getElementById('monto').value;
      var num2 = document.getElementById('monto_total').value;

      if(num1 == ''){
        num1 = 0;
      }
      if(num2 == ''){
        num2 = 0;
      }

      var sumar = parseInt(num1) + parseInt(num2);

      document.getElementById('resultado').value = sumar;
    }
  </script>
{% include 'navbar.html' %}
<div class="container">
    <main><div class="container">
        <main>  
            <div class="col-md-7 col-lg-8">
              <h4 class="mb-3">Informacion personal</h4>
              <form class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-sm-6">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="firstName" placeholder="nombres" value="{{datos_user.user.first_name}}" disabled>
                    <div class="invalid-feedback">
                      Tus nombres son requeridos.
                    </div>
                  </div>
      
                  <div class="col-sm-6">
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" placeholder="apellidos" value="{{datos_user.user.last_name}}" disabled>
                    <div class="invalid-feedback">
                      Tus apellidos son requeridos.
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <div class="input-group has-validation">
                      <input type="text" class="form-control" id="username" placeholder="nombre de usuario" value="{{datos_user.user.username}}" disabled>
                    <div class="invalid-feedback">
                        Tu nombre de usuario es requerido.
                      </div>
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="email" class="form-label">Correo<span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" value="{{datos_user.user.email}}" disabled>
                    <div class="invalid-feedback">
                      Por favor, ingrese su email. 
                    </div>
                  </div>
      
                  <div class="col-12">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="address" placeholder="direccion" value="{{datos_user.direccion}}" disabled>
                    <div class="invalid-feedback">
                      Por favor, ingrese su direccion.
                    </div>
                  </div>
      
                  
                </div>
      
                <hr class="my-4">

      
                <hr class="my-4">
      
                <h4 class="mb-3">Donacion</h4>
                
                <label>Cantidad a donar</label>
                <div class="col-md-2">
                  <input type="number" class="form-control" name="monto" id="monto" onkeyup="sumar();">
                </div>
                <div class="col-md-2">
                  <label for="cc-expiration" class="form-label">Monto recaudado</label>
                  <input type="number" class="form-control" id="monto_total" placeholder="monto_total" value="{{projecto5_objs.monto_total}}" onkeyup="sumar();" readonly>
                  <div class="invalid-feedback">
                    Monto recaudado
                  </div>
                </div>
                
                  <input type="number" name="resultado" id="resultado" readonly hidden>
                </div>
                  <p></p>
                  <p></p>                        
               
                <p></p>
                <p></p>
                <div class="col-md-4">
                  <label for="cc-number" class="form-label">Tipo tarjeta</label>
                  <input type="text" class="form-control" id="tipo_tarjeta" placeholder="tipo_tarjeta" value="{{datos_banco.tipo_tarjeta}}" disabled>
                  <div class="invalid-feedback">
                    Tipo de tarjeta
                  </div>
                </div>
                  <div class="col-md-4">
                    <label for="cc-number" class="form-label">Tarjeta</label>
                    <input type="text" class="form-control" id="tarjeta" placeholder="numero de tarjeta" value="{{datos_banco.tarjeta}}" disabled>
                    <div class="invalid-feedback">
                      Tarjeta
                    </div>
                  </div>
      
                  <div class="col-md-2">
                    <label for="cc-expiration" class="form-label">Codigo</label>
                    <input type="password" class="form-control" id="codigo" placeholder="codigo" value="{{datos_banco.codigo}}" disabled>
                    <div class="invalid-feedback">
                      Codigo tarjeta
                    </div>
                  </div>

                  
                  
                </div>
                  
                <hr class="my-4">
                <p></p>
                <button class="w-50 btn btn-primary btn-lg" type="submit">Confirma donacion</button>
              </form>
            </div>
          </div>
        </main>
      
      </div>  
    <p></p>
  <p></p>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% include 'footer.html' %}

</body>
</html>