{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Bienvenida</title>
  <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
  <!-- Google fonts - Playfair Display-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
  <!-- Google fonts - Poppins-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-gradient-to-r text-center from-red-500 to-purple-500">

  {% include "navbar.html" %}
<div style="background:whitesmoke">
  <section>
    <div class="container">
      <div class="row mb-5 pt-20 pb-20">
        <!-- blog item-->
        {% for proyecto in proyectos %}
        <div class="col-lg-3 col-sm-6 mb-4 hover-animate">
          <div class="card shadow border-0 h-100">
           <a href="{% url 'detalle' proyecto.slug %}">
              <img class="img-fluid card-img-top" src="/media/{{proyecto.imagen}}" alt="..."/></a>
            <div class="card-body"><a class="text-uppercase text-muted text-sm letter-spacing-2" href="#">
             Creado por: {{proyecto.user.username}} </a>
              <h5 class="my-2"><a class="text-dark" href="{% url 'detalle' proyecto.slug %}">
              Titulo: {{proyecto.titulo}}          </a></h5>
              <p class="text-gray-500 text-sm my-3"><i class="far fa-clock mr-2"></i>
              Categoría:  {{proyecto.categoria}}</p>
              <!-- <p class="my-2 text-muted text-sm">
              {{blog.content|safe}}
             </p>
            -->
              <a class="btn btn-link pl-0"href="{% url 'detalle' proyecto.slug %}">Read more<i class="fa fa-long-arrow-alt-right ml-2"></i></a> 
            </div>
          </div>
        </div>
        {% endfor %}
    
        <div>
          <a href="" class="flex items-center py-5 px-4 text-gray-700 hover:text-gray-900">
            <img src="/static/img/sol.png" alt="">
            <span class="font-bold text-white">Propalar</span>
          </a>

        </div>
      </div>
      <nav aria-label="Proyecto pagination">
          <ul class="pagination justify-content-between mb-5 pb-20">
            <li class="page-item"><a class="page-link text-sm rounded" href="#"> <i class="fa fa-chevron-left mr-1"></i>Proyectos antiguos</a></li>
            <li class="page-item disabled"><a class="page-link text-sm rounded" href="#" tabindex="-1">Proyectos nuevos  <i class="fa fa-chevron-right ml-1"></i></a></li>
          </ul>
        </nav>
    </div>
  </div>
  </section>
  {% include "footer.html" %}

</body>

</html>