<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Proyecto</title>
  </head>
<body class="bg-gradient-to-r from-red-500 to-purple-500">
  {% include "navbar.html" %}
  <div style="background:whitesmoke">  
    <h2 class="text-3xl font-bold pt-10 ml-40 text-left text-gray-700">
      Crea tu proyecto
    </h2>
    <h2 class="text-2xl  pb-5 text-left ml-40 text-gray-700">
      Comienza a darte a conocer!
    </h2>
    <h2 class="text-xl mb-5 pb-2 text-left ml-40 text-gray-500">
      Completa los siguientes campos.
    </h2>
    
    
    <form method="post" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
          <div class="col-md-12">
            <label for="">Categoria</label>
            <input type="text" class="form-control" placeholder="categoria" name="categoria">
          </div>
          <div class="col-md-12">
              <label>Enter blog title</label>
              <input type="text" class="form-control" placeholder="Enter title" name="titulo">
          </div>
          <div class="col-md-12">
            <label>Contenido</label>
            <input type="text" class="form-control" placeholder="contenido" name="contenido">
        </div>
          <div class="col-md-12">
              {{form.media}}
              {{form.as_p}}
          </div>

          <div class="col-md-12">

            <input type="file" name="imagen" class="form-control" >
          </div>
          <div class="col-md-12">
            <label for="">Monto a recaudar</label>
            <input type="number" class="form-control" placeholder="Enter title" name="monto_recaudar">
          </div>
          <div class="col-md-12">
            <label for="">Categoria Benficio</label>
            <input type="text" class="form-control" placeholder="Categoria Benficio" name="categoria_beneficio">

          </div>
          <div class="col-md-12">
            <label for="">Nombre Benficio</label>
            <input type="text" class="form-control" placeholder="Nombre Benficio" name="nombre_beneficio">

          </div>
          <div class="col-md-12">
            <label for="">Descripcion Benficio</label>
            <input type="text" class="form-control" placeholder="Descripcion Benficio" name="descripcion_beneficio">
          </div>
          <div class="col-md-12">
            <label for="">Empresa</label>
            <input type="text" class="form-control" placeholder="Empresa" name="empresa">
          </div>
          <div class="col-md-12">
            <label for="">Descripcion Empresa</label>
            <input type="text" class="form-control" placeholder="Descripcion Empresa" name="Descripcion_Empresa">
          </div>
          <div class="col-md-12">
            <label for="">Nombre Jefe Proyecto</label>
            <input type="text" class="form-control" placeholder="Nombre Jefe Proyecto" name="nombre_jefeProjecto">
          </div>
          <div class="col-md-12">
            <label for="">Nombre subJefe Proyecto</label>
            <input type="text" class="form-control" placeholder="Nombre subJefe Proyecto" name="subjefe_proyecto">
          </div>
          <div class="col-md-12">
            <label for="">Nombre subSubJefe Proyecto</label>
            <input type="text" class="form-control" placeholder="Nombre subSubJefe Proyecto" name="subSubjefe_proyecto">
          </div>
          <div class="col-md-12">
            <label for="">Facebook</label>
            <input type="text" class="form-control" placeholder="Facebook" name="Facebook">
          </div>
          <div class="col-md-12">
            <label for="">Instagram</label>
            <input type="text" class="form-control" placeholder="Instagram" name="Instagram">
          </div>
          <div class="col-md-12">
            <label for="">paginaWeb</label>
            <input type="text" class="form-control" placeholder="paginaWeb" name="paginaWeb">
          </div>
          <div class="col-md-12">
            <label for="">twitter</label>
            <input type="text" class="form-control" placeholder="twitter" name="twitter">
          </div>
          


      </div>

      <button type="submit" class="btn btn-primary mt-4">Modificar proyecto</button>

  </form>

</div> 



  </div>
  {% include "footer.html" %}
</body>
</html>
