<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
{% include 'navbar.html' %}
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="bg-gray-100">
 <div class="w-full text-black bg-main-color">
    
        <div x-data="{ open: false }"
            class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
            <div class="p-4 flex flex-row items-center justify-between">
                <a href="#"
                    class="text-lg font-semibold tracking-widest uppercase rounded-lg focus:outline-none focus:shadow-outline">Perfil</a>
                <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
                    <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
 </div>
    <!-- End of Navbar -->

    <div class="container mx-auto my-5 p-5">
        <div class="md:flex no-wrap md:-mx-2 ">
        <div class="md:flex no-wrap md:-mx-2 p-5">
            <!-- Left Side -->
            <div class="w-full md:w-3/12 md:mx-2">
                <!-- Profile Card -->
                <div class="bg-white p-3 border-t-4 border-green-400">
                    <div class="image overflow-hidden">
                        <img class="h-auto w-full mx-auto"
                        src="/media/{{datos_user.foto}}"
                            alt="">
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <input type="file" name="foto" id="foto" class="btn btn-primary">
                    <input type="submit" class="text-center bg-red-500 hover:bg-red-800 mb-4 ml-5 text-white font-bold py-2 px-10 border-b-4 border-red-500 hover:border-red-800 rounded">
                    
                    <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">{{datos_user.user.first_name}} {{datos_user.user.last_name}}</h1>
                    
                    <h3 class="text-gray-600 font-lg text-semibold leading-6"> </h3>
                    <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">{{datos_user.descripcion}}</p>
                    
                </div>
                <!-- End of profile card -->
                <div class="my-4"></div>
                
                
            </div>
            <!-- Right Side -->
            <div class="w-full md:w-9/12 mx-2 h-64">
                <!-- Profile tab -->
                <!-- About Section -->
                <div class="bg-white p-3 shadow-sm rounded-sm">
                    <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                        <span clas="text-green-500">
                            <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                            </svg>
                        </span>
                        <span class="tracking-wide">Datos bancarios</span>
                    </div>
                    <div class="text-gray-700">
                        <div class="grid md:grid-cols-2 text-sm">
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Rut</div>
                                <div class="px-4 py-2"> <input type="text" id="rut" name="rut" value="{{datos_banco.rut}}" ></input> </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Tipo cuenta</div>
                                <div class="px-4 py-2"><input type="text" id="tipo_cuenta" name="tipo_cuenta" value="{{datos_banco.tipo_cuenta}}" ></input> </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Tipo tarjeta</div>
                                <div class="px-4 py-2 "><input type="text" id="tipo_tarjeta" name="tipo_tarjeta" value="{{datos_banco.tipo_tarjeta}}"></input> </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">N° tarjeta</div>
                                <div class="px-4 py-2"><input type="text" id="tarjeta" name="tarjeta" value="{{datos_banco.tarjeta}}"></input></div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Banco</div>
                                <div class="px-4 py-2"><input type="text" id="banco" name="banco" value="{{datos_banco.banco}}"></input></div>
                            </div>
                            
                            
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">Codigo</div>
                                <div class="px-4 py-2">
                                   
                                    <input type="text" id="codigo" name="codigo" value="{{datos_banco.codigo}}" ></input>
                                    
                                </div>
                            </div>
                            
                            <div class="grid grid-cols-2">
                                <div class="px-4 py-2 font-semibold">
                                    <button type="submit" name="editar_datos_usuario" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editar</button>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <!-- End of about section -->
                
                    
                </div>
                <div class="my-4"></div>
                <!-- Experience and education -->
                
                <!-- End of profile tab -->
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
{% include 'footer.html' %}
</body>
</html>