<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css"/>

    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
</head>
<body>

    <nav class="bg-gradient-to-r from-red-500 to-purple-500 ">
        <div class="max-w-6xl mx-auto px-4">
          <div class="flex justify-between">
      
            <div class="flex space-x-4">
              <!-- logo -->
              <div>
                {% if user.is_authenticated %}
                <a  href="/index/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                  {% comment %} <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                  </svg> {% endcomment %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                  <span class="font-bold text-white">Propalar</span>
                </a>
                {% else %}
                <a  href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                  {% comment %} <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                  </svg> {% endcomment %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                  <span class="font-bold text-white">Propalar</span>
                </a>
                {% endif %}
              </div>
      
              <!-- primary nav -->
              <div class="hidden md:flex items-center space-x-1">
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-white border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-black md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Categorias <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg%22%3E<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="/general/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">General</a>
                  </li>
                  <li>
                    <a href="/juegos/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Juegos</a>
                  </li>
                  <li>
                    <a href="/tecnologia/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tecnologia</a>
                  </li>
                  <li>
                    <a href="/arte/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Arte</a>
                  </li>
                </ul>
                
            </div>
                <a href="/contacto/" class="py-5 px-3 text-white hover:text-gray-900">Contacto</a>
                <a href="/crear_proyecto/" class="py-5 px-3 text-white hover:text-gray-900">Crear proyecto</a>
                <a href="/administrar/" class="py-5 px-3 text-white hover:text-gray-900">Administrar</a>
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="hidden md:flex items-center space-x-1">
              <a href="/perfil/" class="py-5 px-3 text-white">Mi perfil</a>
              <a href="/cerrarSesion/" class="py-5 px-3 text-white hover:text-gray-900">Cerrar sesión</a>
            </div>
            {% else %}
            <!-- secondary nav -->
            <div class="hidden md:flex items-center space-x-1">
              <a href="/login/" class="py-5 px-3 text-white">Unirse</a>
              <a href="/registro/" class="py-2 px-3 bg-yellow-500 hover:bg-yellow-300 text-indigo-600 hover:text-yellow-800 rounded transition duration-300">Registrarse</a>
            </div>
            {% endif %}
            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
              <button class="mobile-menu-button">
                <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
      
          </div>
        </div>
      
        <!-- mobile menu -->
        
      </nav>
    
</body>
</html>