

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Te hemos enviado por correo electrónico las instrucciones para establecer tu contraseña,
			 si existe una cuenta con el correo electrónico que has introducido. Debería recibirlas en breve. 
		  </p>
		  <p class="m-auto p-2">
		    Si no recibes un correo electrónico, asegúrate de que has introducido la dirección con la que te registraste
		    y comprueba tu carpeta de correo no deseado.
		  </p>
		  <p class="m-auto p-2"><a href="/login/">Volver al Login</a></p>
	</div>
</div>

{% endblock %}