{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gradient-to-r from-red-500 to-purple-500">
      {% include "navbar.html" %}
    <div style="background: whitesmoke">
      <div class="container mx-auto px-6 text-center">
        <h2 class="text-4xl font-bold mb-2 text-gray-700">
          Bienvenido a Propalar
        </h2>
        <h3 class="text-2xl mb-8 text-gray-700">
          Revisa los siguientes proyectos, de los cuales puedes inspirarte o apoyarlos!
        </h3>
  
        <button class="bg-white font-bold rounded-full py-4 px-8 mr-20 mt-20 shadow-lg uppercase tracking-wider">
          <a href="/login">Crea tu proyecto</a>
        </button>
        <button class="bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
          <a href="/explorar">Explora otros proyectos</a>
        </button>
      </div>
    </div>
  <div style="background:whitesmoke">
    <section class="container mx-auto px-6 p-10">
      <h2 class="text-4xl font-bold text-center text-gray-700 mb-20">
          Proyectos populares
      </h2>
          <div class="flex items-center flex-wrap mx-10">
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
            <img class="rounded-t-lg" src="https://picsum.photos/400/200" alt="" />
            </a>
          <div class="p-5" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
            <a href="#">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Noteworthy technology acquisitions 2021
            </h5>
            </a>
            <p class="mb-3 font-normal text-white dark:text-gray-400">
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
            </p>
            <a
            href="#"
            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
            Read more
            <svg
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
                ></path>
            </svg>
            </a>
            </div>
          </div>
    
          <div class="flex items-center flex-wrap mx-10">
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <a href="#">
                <img class="rounded-t-lg" src="https://picsum.photos/400/200" alt="" />
              </a>
            <div class="p-5" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
              <a href="#">
                <h5
                  class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                >
                Noteworthy technology acquisitions 2021
                </h5>
              </a>
              <p class="mb-3 font-normal text-white dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so
              far, in reverse chronological order.
              </p>
              <a
              href="#"
              class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
              Read more
            <svg
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
                ></path>
            </svg>
            </a>
        </div>
          </div>
    
          <div class="flex items-center flex-wrap mx-10">
            <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
            <img class="rounded-t-lg" src="https://picsum.photos/400/200" alt="" />
        </a>
        <div class="p-5" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
            <a href="#">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Noteworthy technology acquisitions 2021
            </h5>
            </a>
            <p class="mb-3 font-normal text-white dark:text-gray-400" >
            Here are the biggest enterprise technology acquisitions of 2021 so
            far, in reverse chronological order.
            </p>
            <a
            href="#"
            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
            Read more
            <svg
                class="ml-2 -mr-1 w-4 h-4"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
                ></path>
            </svg>
            </a>
            
        </div>
        
          </div>
    
    </section>
  </div>  












      {% include "footer.html" %}
    
    
</body>
  
</html> 