<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <nav class="bg-gradient-to-r from-red-500 to-purple-500 ">
        <div class="max-w-6xl mx-auto px-4">
          <div class="flex justify-between">
      
            <div class="flex space-x-4">
              <!-- logo -->
              <div>
                <a  href="/index/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                  {% comment %} <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
                  </svg> {% endcomment %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                  </svg>
                  <span class="font-bold text-white">Propalar</span>
                </a>
              </div>
      
              <!-- primary nav -->
              <div class="hidden md:flex items-center space-x-1">
                <a href="/explorar/" class="zpy-5 px-3 text-white hover:text-gray-900">Explorar</a>
                <a href="/contacto/" class="py-5 px-3 text-white hover:text-gray-900">Contacto</a>
                <a href="/contacto/" class="py-5 px-3 text-white hover:text-gray-900">Crear proyecto</a>
              </div>
            </div>
      
            <!-- secondary nav -->
            <div class="hidden md:flex items-center space-x-1">
              <a href="/login/" class="py-5 px-3 text-white">Unirse</a>
              <a href="/registro/" class="py-2 px-3 bg-yellow-500 hover:bg-yellow-300 text-indigo-600 hover:text-yellow-800 rounded transition duration-300">Registrarse</a>
            </div>
    
            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
              <button class="mobile-menu-button">
                <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
      
          </div>
        </div>
      
        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
          <a href="/ingreso/" class="block py-2 pt-4 text-white px-4 text-sm hover:bg-purple-500">Ingreso Pedido</a>
          <a href="/gestion/" class="block py-2 pb-4 text-white px-4 text-sm hover:bg-purple-500">Gestión</a>
        </div>
      </nav>
    
</body>
</html>