{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% include "navbar2.html" %}

    
    <div class="h5-screen min-h-screen max-h-screen bg-gray-200 flex justify-center items-center p-4">
        <div class="bg-white shadow w-full p-4 rounded shadow-2xl text-gray-700 sm:w-96">
          <div class="flex justify-center">
            <img src="img/pw.jpg" alt="" class="w-20">
          </div>
          <hr><hr><hr>
          <p class="text-center pb-2 text-3xl">Crear una cuenta</p>
          
          
          <form action="#" class="my-5">
            

            <div
                    class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                    <div>
                        <button type=" submit" class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                            <img src="{% static 'img/nombre.png' %}" alt="" class="w-8">
                        </button>
                    </div>

                    <div class="  w-full">
                        <input type="search" x-model="input1"
                            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                            placeholder="Nickname" >
                    </div>
            </div>
            <div
                    class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                    <div>
                        <button type=" submit"
                            class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-900" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <div class="  w-full">
                        <input type="search" x-model="input1"
                            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                            placeholder="Nombre" >
                    </div>
            </div>
            <div
                    class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                    <div>
                        <button type=" submit"
                            class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-900" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <div class="  w-full">
                        <input type="search" x-model="input1"
                            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                            placeholder="Apellido Paterno" >
                    </div>
            </div>
            <div
                    class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                    <div>
                        <button type=" submit"
                            class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-900" viewBox="0 0 20 20"
                                fill="currentColor">
                                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <div class="  w-full">
                        <input type="search" x-model="input1"
                            class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                            placeholder="Apellido Materno" >
                    </div>
            </div>
            <div class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                <div>
                    <button type=" submit" class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                        <img src="{% static 'img/correo-electronico.png' %}" alt="" class="w-8">
                    </button>
                </div>
                <div class="  w-full">
                    <input type="search" x-model="input1"
                        class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                        placeholder="correo" >
                </div>
            </div>
            <div class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                <div>     
                    <button type=" submit" class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                        <img src="{% static 'img/llamada-telefonica.png' %}" alt="" class="w-8">
                    </button>     
                </div>

                <div class="  w-full">
                    <input type="search" x-model="input1"
                        class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                        placeholder="Telefono" >
                </div>
            </div>
            <div class="  my-2 border mx-auto    border-[2px]  w-10/12 justify-center flex items-center rounded-md shadow-md">
                <div>
                    <button type=" submit" class="flex items-center bg-gray-100 rounded-l-md border border-white justify-center w-12 h-12 text-white ">
                        <img src="{% static 'img/pw.jpg' %}" alt="" class="w-8">
                    </button>
                </div>

                <div class="  w-full">
                    <input type="search" x-model="input1" class="w-full h-12 px-4 py-1 rounded-r-md border border-gray-100 text-gray-800 focus:outline-none"
                        placeholder="Contraseña" >
                </div>
            </div>
               
      
            
            
            <button type="submit" class="bg-blue-500 p-2 w-full text-white rounded">Crear</button>
            <hr><hr> <hr><hr>
            
            <div class="pb-5 text-right text-sm">
                <a href="/login/" class="text-blue-500">Ya estas registrado?</a>
            </div>
            
            <hr>

          </form>
          
          <hr>
          
          <div class="mt-8 relative flex justify-around">
            <div class="bg-blue-800 h-12 w-12 flex justify-center items-center rounded-full text-white">
              <i class="fab fa-facebook text-3xl"></i>
            </div>
            <div class="bg-blue-500 h-12 w-12 flex justify-center items-center rounded-full text-white">
              <i class="fab fa-twitter text-3xl"></i>
            </div>
            
             <div class="bg-red-500 h-12 w-12 flex justify-center items-center rounded-full text-white">
              <i class="fab fa-google text-3xl"></i>
            </div>
          </div>
        </div>
      </div>
      
      <div class="fixed bottom-0 right-0">
        <button id="switchTheme">
            <i classs="fab fa-codepen"></i>s
        </button>
      </div>
    
</body>

    
</html>